/**
 * This file is part of GMS-Training.
 *
 * GMS-Training is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * GMS-Training is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GMS-Training.  If not, see <https://www.gnu.org/licenses/>.
 */

@import (less) "~normalize.css";

@normal-fg: #3e3e3e;
@input-bg: #fafad2;
@link-fg: #0063a6;
@link-hl: #fc101b;
@outline: #ccc;
@stroke: #efefef;

:root {
    color: @normal-fg;
    font-size: 16px;
    line-height: 1.5em;
}

body {
    margin: 0;
}

a {
    .link();
}

.action {
    cursor: pointer;
}

.page {
    @header-h: 90px;
    @footer-h: 60px;

    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1024px;

    & > main {
        box-sizing: border-box;
        min-height: calc(100vh - @footer-h - @header-h - 1px);
        padding: 10px 20px;
    }

    & > header {
        border-bottom: 1px solid @stroke;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        height: @header-h;
        padding: 20px;

        & > h1 {
            margin: 0;
        }

        & > nav {
            ul {
                .ul-horizontal();
            }
        }
    }

    & > footer {
        border-top: 1px solid @stroke;
        box-sizing: border-box;
        font-size: 0.8em;
        height: @footer-h;
        padding: 10px 0;
        text-align: center;

        .content {
            display: flex;
            justify-content: space-between;
            margin: 0 40px;
        }

        & ul {
            .ul-horizontal();
        }
    }
}

.basics {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 2em;

    .record {
        .outline();
        display: flex;
        flex: 1 1;
        min-width: 600px;

        dl {
            align-content: flex-start;
            flex: 1;
        }
    }

    .col-side {
        flex: 1 1;
        min-width: 300px;
    }

    .intellipad, .scratchpad {
        width: 100%;
    }
}

.record {
    dl {
        .dl-horizontal(120px);

        dt, dd {
            margin-bottom: 5px;
        }

        dd {
            .outline();
            background-color: #eee;
            padding: 0 5px;
        }

        .heading {
            font-weight: 600;
            width: 100%;
        }
    }
}    

dl.key-bindings {
    .dl-horizontal(40px);
    dt {
        font-family: monospace;
        font-weight: bolder;
    }

    dd .example {
        display: block;
        font-family: monospace;
    }
}

dl.command-info {
    .dl-horizontal(100px);
    .outline();
    box-sizing: border-box;
}

.intellipad {
    box-sizing: border-box;

    & > input {
        .outline(5px);
        box-sizing: border-box;
        background-color: @input-bg;
        font-family: monospace;
        width: 100%;
    }
}

.scratchpad {
    .outline();
    font-family: monospace;
    min-height: 7.5em; //5 lines

    .lines {
        list-style: none;
        margin: 0;
        padding: 0;

        .line:hover {
            background-color: @stroke;
            cursor: pointer;
        }
    }
}

.outline(@radius: 0, @border-fg: @outline) {
    border: 1px solid @border-fg;
    border-radius: @radius;
    padding: 10px;
}

.link() {
    cursor: pointer;
    border-bottom: 1px solid @link-fg;
    color: @link-fg;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        color: @link-hl;
        border-bottom: 1px solid @link-hl;
    }
}


.ul-horizontal() {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 10px 0;
        padding: 0 20px;
        text-align: center;

        &:not(:first-of-type) {
            border-left: 1px solid @normal-fg;
        }
    }
}

.dl-horizontal(@dt-width) {
    display: flex;
    flex-wrap: wrap;

    dt {
        margin: 0;
        width: @dt-width;
    }

    dd {
        box-sizing: border-box;
        margin-inline-start: 10px;
        width: calc(100% - 20px - @dt-width);
    }
}

dl {
    margin-block-start: 0;
    margin-block-end: 0;
}
